$mountain-meadow: #1eb98a;
$green-yellow: #bcf236;
$concrete: #f2f2f2;
$dove-gray: #616161;
$boulder: #777;
$emperor: #515151;
$nobel: #b7b7b7;
$alabaster: #fcfcfc;
$white: #fff;
$silver: #ccc;
$tom-thumb: #2a492f;
