[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
seaborn = "==0.10.1"

[packages]
numpy = "==1.18.4"
pandas = "==1.0.4"
scikit-learn = "==0.23.1"
fastapi = "==0.55.1"
uvicorn = "==0.11.5"


[requires]
python_version = "3.7"
